---
import Layout from "../../layouts/BlogPost.astro";
---

<Layout title="Audiencia Pública">
    <section class="public-hearing flex flex-col items-center justify-center gap-2 my-[8rem] px-[1.2rem] md:w-[900px] xl:w-[1200px] mx-auto">
        <article class="mb-[3rem]">
            <h3 class="[font-family:var(--font-family-modern)] mb-[3rem] text-3xl md:text-4xl lg:text-5xl text-center font-semibold">Audiencia Pública</h3>
            <p>
                La rendición de cuentas es un principio de la gestión pública y
                un mecanismo de transparencia y control social, que contribuye a
                fortalecer la relación entre las autoridades y la población, así
                como a prevenir la comisión de actos de corrupción y a promover
                la participación y la vigilancia ciudadana.
            </p>
            <p>
                En ese sentido, la rendición de cuentas tiene por objetivo
                informar a la población en general, sobre los avances, logros y
                dificultades de la gestión pública en su conjunto, para alcanzar
                las metas de desarrollo regionales y locales (provinciales o
                distritales), según corresponda, en las diferentes materias de
                su competencia, como en educación, salud, vivienda,
                infraestructura y desarrollo social, entre otros, así como
                respecto al uso de los recursos públicos para alcanzar tales
                metas.
            </p>
            <p>
                En el contexto de la descentralización, las audiencias públicas
                son el espacio propicio para convocar a la población e
                informales sobre el desarrollo de la gestión pública,
                estableciendo una relación de diálogo entre autoridades y
                ciudadanía. Ello sin perjuicio de poder complementar las
                audiencias públicas de rendición de cuentas con otros espacios
                de participación que permitan informar a la población sobre
                temas específicos, como la rendición de cuentas en el marco del
                presupuesto participativo o las asambleas vecinales, entre
                otros.
            </p>
        </article>
        <article class="public-hearing-information">
            <div class="tabs flex flex-wrap">
                <input type="radio" name="tabs" id="tabThree" checked="checked" />
                <label for="tabThree">2025</label>
                <div class="tab">
                    <div>
                        <h3 class="text-2xl font-semibold my-2 capitalize">PRIMERA AUDIENCIA PÚBLICA</h3>
                        <p class="my-2">Mediante Decreto de Alcaldía N.º 003-2025-MDCA/ALC de fecha 29 de Abril de 2025, se decretó en su Primer Artículo, Convocar a la ciudadanía Pública de Rendición de Cuentas de la Municipalidad Distrital de Cerro Azul del año 2025.</p>
                        <p class="my-2"><span class="font-semibold">Fecha: </span>30 de mayo de 2025</p>
                        <p class="my-2"><span class="font-semibold">Hora: </span>10:00 a.m.</p>
                        <p class="my-2"><span class="font-semibold">Lugar: </span> Plaza de Armas "Oscar Chocano" del Distrito de Cerro Azul.</p>
                        <ul class="list-disc pl-5">
                            <li><a class="text-[#015da8]" href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2025/first-public-hearing/Acta-de-la-Primera-Audiencia-Publica-2025.pdf">Acta y listado de los asistentes</a></li>
                            <li><a class="text-[#015da8]" href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2025/first-public-hearing/1ra-Audiencia-Publica-2025.pdf">Contenido</a></li>
                            <li><a class="text-[#015da8]" href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2025/first-public-hearing/Galeria-de-fotografias.pdf">Galeria de imagenes</a></li>
                        </ul>
                    </div>
                </div>

                <input type="radio" name="tabs" id="tabTwo" />
                <label for="tabTwo">2024</label>
                <div class="tab">
                    <div class="mb-20">
                        <h3 class="text-2xl font-semibold my-2 capitalize">PRIMERA AUDIENCIA PÚBLICA</h3>
                        <p class="my-2">Mediante Decreto de Alcaldía N.º 002-2024-MDCA/ALC de fecha 07 de Mayo de 2024, se decretó en su Primer Artículo, Convocar a la ciudadanía Pública de Rendición de Cuentas de la Municipalidad Distrital de Cerro Azul del año 2024.</p>
                        <p class="my-2"><span class="font-semibold">Fecha:</span> 16 de mayo 2024</p>
                        <p class="my-2"><span class="font-semibold">Hora:</span> 10:00 a.m.</p>
                        <p class="my-2"><span class="font-semibold">Lugar:</span> Plaza de Armas "Oscar Chocano" del Distrito de Cerro Azul.</p>
                        <ul class="list-disc pl-5">
                            <li><a class="text-[#015da8]" href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2024/first-public-hearing/ACTA-DE-LA-PRIMERA-AUDIENCIA-2024.pdf">Acta y listado de los asistentes</a></li>
                            <li><a class="text-[#015da8]" href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2024/first-public-hearing/AUDIENCIA-2024-CONTENIDO.pdf">Contenido</a></li>
                            <li><a class="text-[#015da8]" href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2024/first-public-hearing/FOTOGRAFIAS-PRIMERA-AU2024.pdf">Galeria de imagenes</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-2xl font-semibold my-2 capitalize">SEGUNDA AUDIENCIA PÚBLICA</h3>
                        <p class="my-2">Mediante Decreto de Alcaldía N.º 006-2024-MDCA/ALC de fecha 17 de septiembre del 2024, se decretó en su Primer Artículo, Convocar a la ciudadanía a la SEGUNDA AUDIENCIA PÚBLICA DE RENDICIÓN DE CUENTAS DE LA MUNICIPALIDAD DISTRITAL DE CERRO AZUL del año2024.</p>
                        <p class="my-2"><span class="font-semibold">Fecha:</span> 27 de septiembre del 2024</p>
                        <p class="my-2"><span class="font-semibold">Hora:</span> 10:00 a.m.</p>
                        <p class="my-2"><span class="font-semibold">Lugar:</span> Plaza de Armas "Oscar Chocano" del Distrito de Cerro Azul.</p>
                        <ul class="list-disc pl-5">
                            <li><a class="text-[#015da8]"href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2024/second-public-hearing/ACTA-Y-LISTADO-DE-LA-SEGUNDA-AUDIENCIA.pdf">Acta y listado de los asistentes</a></li>
                            <li><a class="text-[#015da8]"href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2024/second-public-hearing/CONTENIDO.pdf">Contenido</a></li>
                            <li><a class="text-[#015da8]"href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2024/second-public-hearing/GALERIA-DE-IMAGENES.pdf">Galeria de imagenes</a></li>
                        </ul>
                    </div>
                </div>

                <input type="radio" name="tabs" id="tabOne" />
                <label for="tabOne">2023</label>
                <div class="tab">
                    <div class="mb-20">
                        <h3 class="text-2xl font-semibold my-2 capitalize">PRIMERA AUDIENCIA PÚBLICA</h3>
                        <p class="my-2">Mediante Decreto de Alcaldía N.º 003-2023-MDCA/ALC de Fecha 18 de Mayo de 2023, se decretó Convocar a la ciudadanía a la Primera Audiencia Pública de Rendición de Cuentas de la MDCA.</p>
                        <p class="my-2"><span class="font-semibold">Fecha:</span> 31 de mayo 2023</p>
                        <p class="my-2"><span class="font-semibold">Hora:</span> 11:00 a.m.</p>
                        <p class="my-2"><span class="font-semibold">Lugar:</span> Plaza de Armas "Oscar Chocano" del Distrito de Cerro Azul.</p>
                        <ul class="list-disc pl-5">
                            <li><a class="text-[#015da8]" href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2023/first-public-hearing/LISTADO-DE-ASISTENTES-PRIMERA-2023.pdf">Acta y listado de los asistentes</a></li>
                            <li><a class="text-[#015da8]" href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2023/first-public-hearing/AUDIENCIA-MAYO-PRIMERA-2023.pdf">Contenido</a></li>
                            <li><a class="text-[#015da8]" href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2023/first-public-hearing/FOTOS-AUDIENCIA-PRIMERA-2023.pdf">Galeria de imagenes</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-2xl font-semibold my-2 capitalize">SEGUNDA AUDIENCIA PÚBLICA</h3>
                        <p class="my-2">Mediante Decreto de Alcaldía N.º 007-2023-MDCA/ALC de Fechas 05 de Septiembre de 2023, se decretó Convocar a la ciudadanía a la Segunda Audiencia Pública de Rendición de Cuentas de la MDCA.</p>
                        <p class="my-2"><span class="font-semibold">Fecha:</span> 29 de septiembre2023</p>
                        <p class="my-2"><span class="font-semibold">Hora:</span> 11:00 a.m.</p>
                        <p class="my-2"><span class="font-semibold">Lugar:</span> Plaza de Armas "Oscar Chocano" del Distrito de Cerro Azul.</p>
                        <ul class="list-disc pl-5">
                            <li><a class="text-[#015da8]" href="https://www.municerroazul.gob.pe/muni-resources/pdf/public-hearing/2023/second-public-hearing/SEGUNDA-AUDIENCIA-2023.pdf">Contenido</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </section>
</Layout>
