---
import Layout from "../../layouts/BlogPost.astro";
---

<Layout title="Codisec">
    <section class="codisec flex flex-col items-center justify-center gap-2 my-[8rem] px-[1.2rem] md:w-[900px] xl:w-[1200px] mx-auto">
        <article class="mb-[3rem]">
            <h3 class="mb-[3rem] text-3xl md:text-4xl lg:text-5xl text-center font-semibold">Comité Distrital de Seguridad Ciudadana</h3>
            <p class="hyphens-auto break-words">El Comité Distrital de Seguridad Ciudadana (CODISEC) es una instancia de diálogo, coordinación y elaboración de políticas, planes, programas, directivas y actividades vinculadas a la seguridad ciudadana, en el ámbito distrital. Articula las relaciones entre las diversas entidades del sector público y el sector privado que forman parte del SINASEC. Cuenta con una Secretaría Técnica.</p>
        </article>
        <article class="codisec-information">
            <div class="tabs flex flex-wrap">
                <input type="radio" name="tabs" id="tabSix" checked="checked" />
                <label for="tabSix">2025</label>
                <div class="tab">
                    <div>
                        <h3 class="text-lg font-semibold my-2">
                            Lic. Félix Manuel Tumay Cuya - Oficial PNP(r), GERENTE DE SEGURIDAD CIUDADANA Y TRANSPORTE
                        </h3>
                        <ol class="list-decimal pl-5">
                            <li class="font-semibold mb-5">ORDENANZA MUNICIPAL:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/ORDENANZA-MUNICIPAL-N°008-2025-MDCA.pdf">Ordenanza Municipal N° 008-2025-MDCA</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">DIRECTORIO:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/DIRECTORIO-CODISEC-2025.pdf">Directorio Codisec</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">PLANES:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/plans/1.PLAN-DE-TRABAJO-VERANO-SEGURO-2025.pdf">Plan De Trabajo Verano Seguro 2025</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/plans/2.PLAN-DE-PATRULLAJE-INTEGRADO-PNP-SERENAZGO.pdf">Plan De Patrullaje Integrado PNP Serenazgo</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/plans/3.PLAN-DE-PATRULLAJE-MUNICIPAL.pdf">Plan De Patrullaje Municipal</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/plans/4.ACTUALIZACION-DEL-PLAN-DE-ACCION-DISTRITAL-DE-SEGURIDAD-CIUDADANA.pdf">Actualización del Plan de Acción Distrital de Seguridad Ciudadana</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">INFORME DE EVALUACIÓN DE DESEMPEÑO DE LOS INTEGRANTES CODISEC:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/performance/1.EVALUACION-DE-DESEMPEÑO-I-TRIMESTRE.pdf">Evaluación de Desempeño I Trimestre</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/performance/2.EVALUACION-DE-DESEMPEÑO-II-TRIMESTRE.pdf">Evaluación de Desempeño II Trimestre</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">INFORME TRIMESTRAL DE CUMPLIMIENTO DE ACTIVIDADES:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/itca/1.ITCA-I-TRIMESTRE.pdf">ITCA - I Trimestre</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/itca/2.ITCA-II-TRIMESTRE.pdf">ITCA - II Trimestre</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">ACUERDO DE SESIONES:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/session-agreement/1.ACTA-DE-INSTALACION-Y-JURAMENTACION-DE-NUEVOS-INTEGRANTES-DE-SEGURIDAD-CIUDADANA-MDCA-09-ENERO-DEL-2025.pdf">Acta de Instalación</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/session-agreement/2.ACTA-DE-LA-PRIMERA-SESION-ORDINARIA-DEL-COMITE-DISTRITAL-DE-SEGURIDAD-CIUDADANA-MDCA-30-DE-ENERO-DEL-2025.pdf">Acta de la Primera Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/session-agreement/3.ACTA-DE-LA-SEGUNDA-SESION-ORDINARIA-DEL-COMITE-DISTRITAL-DE-SEGURIDAD-CIUDADANA-MDCA-27-DE-FEBRERO-DEL-2025.pdf">Acta de la Segunda Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/session-agreement/4.ACTA-DE-LA-TERCERA-SESION-ORDINARIA-DEL-COMITE-DISTRITAL-DE-SEGURIDAD-CIUDADANA-MDCA-30-DE-ABRIL-DEL-2025.pdf">Acta de la Tercera Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/session-agreement/5.ACTA-DE-LA-CUARTA-SESION-ORDINARIA-DEL-COMITE-DISTRITAL-DE-SEGURIDAD-CIUDADANA-MDCA-27-DE-MAYO-DEL-2025.pdf">Acta de la Cuarta Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/session-agreement/6.ACTA-DE-LA-CUARTA-SESION-ORDINARIA-DEL-COMITE-DISTRITAL-DE-SEGURIDAD-CIUDADANA-MDCA-30-DE-JULIO-DEL-2025.pdf">Acta de la Quinta Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/session-agreement/7.ACTA-DE-LA-CUARTA-SESION-ORDINARIA-DEL-COMITE-DISTRITAL-DE-SEGURIDAD-CIUDADANA-MDCA-28-DE-AGOSTO-DEL-2025.pdf">Acta de la Sexta Sesión Ordinaria</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">MAPAS:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/maps/1.MAPA-DE-RIESGO-TSUNAMI.pdf">Mapa de Riesgo de Tsunami</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/maps/2.MAPA-DELITO-PNP.pdf">Mapa delitos PNP</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">ACTA DE ÁREAS PRIORIZADAS:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/areas/1.ACTA-DE-AREAS-PRIORIZADAS-ENERO.pdf">Acta de Áreas Priorizadas Enero</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/2.ACTA-DE-AREAS-PRIORIZADAS-FEBRERO.pdf">Acta de Áreas Priorizadas Febrero</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/3.ACTA-DE-AREAS-PRIORIZADAS-MARZO.pdf">Acta de Áreas Priorizadas Marzo</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/4.ACTA-DE-AREAS-PRIORIZADAS-ABRIL.pdf">Acta de Áreas Priorizadas Abril</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/5.ACTA-DE-AREAS-PRIORIZADAS-MAYO.pdf">Acta de Áreas Priorizadas Mayo</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/6.ACTA-DE-AREAS-PRIORIZADAS-JUNIO.pdf">Acta de Áreas Priorizadas Junio</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/7.ACTA-DE-AREAS-PRIORIZADAS-JULIO.pdf">Acta de Áreas Priorizadas Julio</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/8.ACTA-DE-AREAS-PRIORIZADAS-AGOSTO.pdf">Acta de Áreas Priorizadas Agosto</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/9.ACTA-DE-AREAS-PRIORIZADAS-SETIEMBRE.pdf">Acta de Áreas Priorizadas Setiembre</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold">CONSULTA CIUDADANA:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/consultation/1.ACTA-DE-LA-PRIMERA-CONSULTA-PUBLICA-SOBRE-SEGURIDAD-CIUDADANA-MDCA-28-DE-MARZO-DEL-2025.pdf">Acta de la Primera Consulta Pública</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/consultation/2.ACTA-DE-LA-SEGUNDA-CONSULTA-PUBLICA-SOBRE-SEGURIDAD-CIUDADANA-MDCA-26-DE-JUNIO-DEL-2025.pdf.pdf">Acta de la Segunda Consulta Pública</a></li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>

                <input type="radio" name="tabs" id="tabFive" />
                <label for="tabFive">2024</label>
                <div class="tab">
                    <div>
                        <h3 class="text-lg font-semibold my-2">
                            Lic. Félix Manuel Tumay Cuya - Oficial PNP(r), GERENTE DE SEGURIDAD CIUDADANA Y TRANSPORTE
                        </h3>
                        <ol class="list-decimal pl-5">
                            <li class="font-semibold mb-5">ORDENANZA MUNICIPAL:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/ORDENANZA-MUNICIPAL-N-19-2023-MDCA.pdf">Ordenanza Municipal N° 019-2023-MDCA</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">DIRECTORIO:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/DIRECTORIO-2024.pdf">Directorio Codisec</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">PLANES:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/plans/1.PLAN_DE_ACCION_S.C_CERRO_AZUL_2024_ 2027.pdf">Plan de Acción S.C Cerro Azul 2024 - 2027</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/plans/2.PLAN_VERANO_SERENAZGO_2024.pdf">Plan de Verano Serenazgo 2024</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">INFORME TRIMESTRAL DE CUMPLIMIENTO DE ACTIVIDADES:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/itca/1.ITCA-I-TRIMESTRE.pdf">ITCA - I Trimestre</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/itca/2.ITCA-II-TRIMESTRE.pdf">ITCA - II Trimestre</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/itca/2.ITCA-III-TRIMESTRE.pdf">ITCA - III Trimestre</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/itca/2.ITCA-IV-TRIMESTRE.pdf">ITCA - IV Trimestre</a></li>

                                </ul>
                            </li>
                            <li class="font-semibold mb-5">ACUERDO DE SESIONES:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/session-agreement/1-ACTA-DE-INSTALACION.pdf">Acta de Instalación</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/session-agreement/2-ACTA-DE-LA-PRIMERA-SESION-ORDINARIA.pdf">Acta de la Primera Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/session-agreement/3-ACTA-DE-LA-SEGUNDA-SESION-ORDINARIA.pdf">Acta de la Segunda Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/session-agreement/4-ACTA-DE-LA-TERCERA-SESION-ORDINARIA.pdf">Acta de la Tercera Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/session-agreement/5-ACTA-DE-LA-CUARTA-SESION-ORDINARIA.pdf">Acta de la Cuarta Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/session-agreement/6-ACTA-DE-LA-QUINTA-SESION-ORDINARIA.pdf">Acta de la Quinta Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/session-agreement/7-ACTA-DE-LA-SEXTA-SESION-ORDINARIA.pdf">Acta de la Sexta Sesión Ordinaria</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/session-agreement/8-ACTA-DE-LA-SEPTIMA-SESION-ORDINARIA.pdf">Acta de la Séptima Sesión Ordinaria</a></li>
                                </ul>
                            </li>
                                 <li class="font-semibold mb-5">MAPAS:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/maps/1.MAPA-DE-RIESGO-TSUNAMI.pdf">Mapa de Riesgo de Tsunami</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/maps/2.MAPA-DELITO-PNP.pdf">Mapa delitos PNP</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">EVALUACIÓN DE DESEMPEÑO:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/evaluation/PRIMERA_EVALUACION.pdf">Primera Evaluación</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/evaluation/SEGUNDA_EVALUACION.pdf">Segunda Evaluación</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/evaluation/SEGUNDA_EVALUACION.pdf">Tercera Evaluación</a></li>
                                </ul>
                            </li>
                                 <li class="font-semibold mb-5">ACTA DE ÁREAS PRIORIZADAS:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/ACTA-DE-AREAS-PRIORIZADAS-FEBRERO.pdf">Acta de Áreas Priorizadas Febrero</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/ACTA-DE-AREAS-PRIORIZADAS-MARZO.pdf">Acta de Áreas Priorizadas Marzo</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/ACTA-DE-AREAS-PRIORIZADAS-ABRIL.pdf">Acta de Áreas Priorizadas Abril</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/ACTA-DE-AREAS-PRIORIZADAS-MAYO.pdf">Acta de Áreas Priorizadas Mayo</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/ACTA-DE-AREAS-PRIORIZADAS-JUNIO.pdf">Acta de Áreas Priorizadas Junio</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/ACTA-DE-AREAS-PRIORIZADAS-JULIO.pdf">Acta de Áreas Priorizadas Julio</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/ACTA-DE-AREAS-PRIORIZADAS-AGOSTO.pdf">Acta de Áreas Priorizadas Agosto</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/ACTA-DE-AREAS-PRIORIZADAS-SETIEMBRE.pdf">Acta de Áreas Priorizadas Setiembre</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/ACTA-DE-AREAS-PRIORIZADAS-NOVIEMBRE.pdf">Acta de Áreas Priorizadas Noviembre</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2025/areas/ACTA-DE-AREAS-PRIORIZADAS-DICIEMBRE.pdf">Acta de Áreas Priorizadas Diciembre</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold">CONSULTA CIUDADANA:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/consultation/1.ACTA_DE_LA_PRIMERA_CONSULTA_PUBLICA.pdf">Acta de la Primera Consulta Pública</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/consultation/2.ACTA_DE_LA_SEGUNDA_CONSULTA_PUBLICA.pdf">Acta de la Segunda Consulta Pública</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/consultation/3.ACTA_DE_LA_TERCERA_CONSULTA_PUBLICA.pdf">Acta de la Tercera Consulta Pública</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2024/consultation/4.ACTA_DE_LA_CUARTA_CONSULTA_PUBLICA.pdf">Acta de la Cuarta Consulta Pública</a></li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>

                <input type="radio" name="tabs" id="tabFour" />
                <label for="tabFour">2023</label>
                <div class="tab">
                    <div>
                        <h3 class="text-lg font-semibold my-2">
                            Lic. Félix Manuel Tumay Cuya - Oficial PNP(r), GERENTE DE SEGURIDAD CIUDADANA Y TRANSPORTE
                        </h3>
                        <ol class="list-decimal pl-5">
                            <li class="font-semibold mb-5">PLANES:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/plans/PLAN-DE-ACCION-DE-SEGURIDAD-CIUDADANA-DEL-DISTRITO-DE-CERRO-AZUL-2023.pdf">Plan de acción de Seguridad Ciudadana del Distrito de Cerro Azul 2023</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/plans/PLAN-DE-LA-SUB-GERENCIA-DE-SEGURIDAD-CIUDADANA-Y-SERENAZGO-2023.pdf">Plan de la Sub Gerencia de Seguridad Ciudadana y Serenazgo - 2023</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/plans/PLAN-DE-PATRULLAJE-INTEGRADO-2023.pdf">Plan de Patrullaje Integrado 2023</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/plans/PLAN-DE-VERANO-2023.pdf">Plan de Verano 2023</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">ACUERDO DE SESIONES:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/session-agreement/ACTA-DE-INSTALACION-2023.pdf">Acta de instalación de los representantes de las entidades públicas que integran al comité de seguridad ciudadana del distrito de Cerro Azul 2023</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/session-agreement/ACTA-DE-JURAMENTACION-DE-SECRETARIO-TECNICO.pdf">Acta de instalación de juramentación del Secretario Técnico 2023</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/session-agreement/ACTA-DE-SESION-ORDINARIA-FEBRERO.pdf">Acta de Sesión Ordinaria - Febrero</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/session-agreement/ACTA-DE-SESION-ORDINARIA-ABRIL.pdf">Acta de Sesión Ordinaria - Abril</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/session-agreement/ACTA-DE-SESION-ORDINARIA-JUNIO.pdf">Acta de Sesión Ordinaria - Junio</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/session-agreement/ACTA-DE-JURAMENTACION-DE-NUEVOS-INTEGRANTES.pdf">Acta de Juramentación Nuevos Integrantes - Junio</a></li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">EVALUACIÓN DE DESEMPEÑO:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/performance-evaluation/INFORME-DE-EVALUACION-DE-LOS-INTEGRANTES-I-TRIMESTRE.pdf">Informe de Evaluación de los integrantes I Trimestre</a></li>
                                    <li class="font-normal">Informe de Evaluación de los integrantes II Trimestre</li>
                                    <li class="font-normal">Informe de Evaluación de los integrantes III Trimestre</li>
                                </ul>
                            </li>
                            <li class="font-semibold mb-5">CONSULTA CIUDADANA:
                                <ul class="list-disc pl-5">
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/citizen-consultation/ACTA-DE-LA-PRIMERA-CONSULTA-PUBLICA.pdf">Acta de la Primera Consulta Pública</a></li>
                                    <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2023/citizen-consultation/ACTA-DE-LA-SEGUNDA-CONSULTA-PUBLICA.pdf">Acta de la Segunda Consulta Pública</a></li>
                                    <li class="font-normal">Acta de la Tercera Consulta Pública</li>
                                </ul>
                            </li>
                            <li class="font-semibold">NORMAS LEGALES:
                                <ul class="list-disc pl-5">
                                    <li class="font-normal">Ley 27933, Ley del Sistema Nacional de Seguridad Ciudadana</li>
                                    <li class="font-normal">Decreto Supremo N° 011-2014-IN</li>
                                    <li class="font-normal">Ley 30055, Que modifica La Ley N° 27933</li>
                                    <li class="font-normal">Ley del Sereno Municipal N° 31297</li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>

                <input type="radio" name="tabs" id="tabThree" />
                <label for="tabThree">2021</label>
                <div class="tab">
                    <ol class="list-decimal pl-5">
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/00-DIRECTORIO-CODISEC-2021.pdf">Directorio Codisec 2021</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/I-EVALUACION-DE-DESEMPENO.pdf">Informe sobre Evaluación de Desempeño de los Integrantes del Codisec - Cerro Azul</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/ORDENANZA-MUNICIPAL-N-005-2021-MDCA.pdf">Ordenanza que aprueba el Plan de Acción de Seguridad Ciudadana del Distrito de Cerro Azul</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/PLAN-DE-ACCION-DE-SEGURIDAD-CIUDADANA.pdf">Plan de Accion de Seguridad Ciudadana</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/01-ACTA-DE-INSTALACION-JURAMENTACION-COMITE-DISTRITAL.pdf">Acta de Instalación y Juramentación del Comité Distrital</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/02-ACTA-SESION-FEBRERO.pdf">Acta de Sesión Ordinaria - Febrero</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/03-ACTA-SESION-MARZO.pdf">Acta de Sesión Ordinaria - Marzo</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/04-PRIMERA-CONSULTA-PUBLICA.pdf">Primera Consulta Pública</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/05-ACTA-SESION-MAYO.pdf">Acta de Sesión Ordinaria - Mayo</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/06-ACTA-SESION-JUNIO.pdf">Acta de Sesión Ordinaria - Junio</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2021/07-ACTA-SEGUNDA-CONSULTA-PUBLICA.pdf">Segunda Consulta Pública</a></li>
                    </ol>
                </div>

                <input type="radio" name="tabs" id="tabTwo" />
                <label for="tabTwo">2020</label>
                <div class="tab">
                    <ol class="list-decimal pl-5">
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/01-ACTA-DE-INSTALACION-SESION-ENERO.pdf">Acta de la Instalación y de la Primera Sesión del Comité Distrital de Seguridad Ciudadana</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/02-ACTA-SESION-FEBRERO.pdf">Acta de Sesión Ordinaria - Febrero</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/03-ACTA-SESION-MARZO.pdf">Acta de Sesión Ordinaria - Marzo</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/04-ACTA-SESION-JUNIO.pdf">Acta de Sesión Ordinaria - Junio</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/05-ACTA-SESION-JULIO.pdf">Acta de Sesión Ordinaria - Julio</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/06-ACTA-SESION-AGOSTO.pdf">Acta de Sesión Ordinaria - Agosto</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/07-ACTA-SESION-SETIEMBRE.pdf">Acta de Sesión Ordinaria - Septiembre</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/08-ACTA-SESION-OCTUBRE.pdf">Acta de Sesión Ordinaria - Octubre</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/09-ACTA-SESION-NOVIEMBRE.pdf">Acta de Sesión Ordinaria - Noviembre</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/10-ACTA-SESION-DICIEMBRE.pdf">Acta de Sesión Ordinaria - Diciembre</a></li>
                        <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2020/11-ACTA-CONSULTA-PUBLICA.pdf">Acta de Consulta Pública sobre Seguridad Ciudadana</a></li>
                    </ol>
                </div>

                <input type="radio" name="tabs" id="tabOne" />
                <label for="tabOne">2019</label>
                <div class="tab">
                    <ol class="list-decimal pl-5">
                        <li class="font-semibold mb-5">Actividades:
                            <ul class="list-disc pl-5">
                                <li class="font-normal">Patrullaje de Serenazgo</li>
                                <li><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/PRIMERA-CONSULTA-PUBLICA.pdf">Primera Consulta Ciudadana</a></li>
                                <li class="font-normal">Rondas con Juntas Vecinales</li>
                            </ul>
                        </li>
                    </ol>

                    <ul class="list-disc pl-5 mb-5">
                        <li class="font-normal"><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/JUNTAS-VECINALES-2019-MDCA.pdf">Juntas Vecinales 2019</a></li>
                    </ul>

                    <ol class="list-decimal pl-5">
                        <li class="font-semibold mb-5">Directorio:
                            <ul class="list-disc pl-5">
                                <li class="font-normal"><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/DIRECTORIO-CODISEC.pdf">Directorio de Codisec</a></li>
                            </ul>
                        </li>
                        <li class="font-semibold mb-5">Evaluación de Desempeño:
                            <ul class="list-disc pl-5">
                                <li class="font-normal"><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/EVALUACION-DE-DESEMPENO-I-TRIMESTRE-2019.pdf">Evaluación de Desempeño I - Trimestral</a></li>
                            </ul>
                        </li>
                        <li class="font-semibold mb-5">Plan Local:
                            <ul class="list-disc pl-5">
                                <li class="font-normal"><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/PLAN-DE-SEGURIDAD-CIUDADANA-22-06-19-MDCA.pdf">Plan Local de Seguridad Ciudadana</a></li>
                            </ul>
                        </li>
                        <li class="font-semibold">Sesiones:
                            <ul class="list-disc pl-5">
                                <li class="font-normal">Primera Sesión:
                                    <ol class="list-decimal pl-5">
                                        <li class="font-normal"><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/APROBACION-DEL-PLAN-2019.pdf">Aprobación del Plan 2019</a></li>
                                        <li class="font-normal"><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/PRIMERA-SESION.pdf">Acta de Aprobación del Plan Local de Seguridad Ciudadana 2019 del Distrito de Cerro Azul - Cañete - Región Lima</a></li>
                                    </ol>
                                </li>
                                <li class="font-normal">Segunda Sesión:
                                    <ol class="list-decimal pl-5">
                                        <li class="font-normal"><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/SEGUNDA-SESION.pdf">Acta de la Sesión Ordinaria Distrital de Seguridad Ciudadana Codisec del Distrito de Cerro Azul - 2019</a></li>
                                    </ol>
                                </li>
                                <li class="font-normal">Tercera Sesión:
                                    <ol class="list-decimal pl-5">
                                        <li class="font-normal"><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/TERCERA-SESION.pdf">Acta III de Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana</a></li>
                                    </ol>
                                </li>
                                <li class="font-normal">Cuarta Sesión:
                                    <ol class="list-decimal pl-5">
                                        <li class="font-normal"><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/ACTAS-DE-ABRIL.pdf">Cuarta Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana</a></li>
                                    </ol>
                                </li>
                                <li class="font-normal">Quinta Sesión:
                                    <ol class="list-decimal pl-5">
                                        <li class="font-normal"><a class="text-[#015da8] font-normal" href="https://www.municerroazul.gob.pe/muni-resources/pdf/codisec/2019/ACTAS-DE-MAYO.pdf">Quinta Sesión Ordinaria del Comité Distrital de Seguridad Ciudadana</a></li>
                                    </ol>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </article>
    </section>
</Layout>
