---
import Layout from "../../layouts/BlogPost.astro";
---

<Layout title="Gerencia de Seguridad Ciudadana y Transporte">
    <section class="flex flex-col items-center justify-center gap-8 my-[8rem] px-[1.2rem] md:w-[900px] xl:w-[1200px] mx-auto">
        <article class="mb-[3rem]">
            <h3 class="[font-family:var(--font-family-modern)] mb-[3rem] text-3xl md:text-4xl lg:text-5xl text-center font-semibold">Gerencia de Seguridad Ciudadana y Transporte</h3>
            <p>La Gerencia de Seguridad Ciudadana y Transporte es el área encargada de garantizar el orden y la seguridad en el distrito,
                velando por la protección de los ciudadanos y el correcto funcionamiento del tránsito. Su labor incluye la vigilancia y
                patrullaje preventivo, la coordinación con las fuerzas del orden, la regulación del transporte público y privado, así
                como la promoción de una cultura vial segura y responsable. A través de estrategias integradas, busca fortalecer la
                seguridad y mejorar la movilidad urbana para el bienestar de la comunidad.</p>
        </article>
        <article class="w-full flex flex-col items-center justify-center gap-10 md:grid md:grid-cols-2 md:place-items-center">
            <a href="/gerencia-de-seguridad-ciudadana/codisec" class="w-full h-[220px] p-8 flex flex-col items-center justify-center bg-[#fff] [box-shadow:var(--box-shadow)] [border-radius:var(--border-radius)] transition-all duration-300 ease-in-out xl:hover:scale-103 text-lg ">Codisec</a>
            <a href="/gerencia-de-seguridad-ciudadana/audiencia-publica" class="w-full h-[220px] p-8 flex flex-col items-center justify-center bg-[#fff] [box-shadow:var(--box-shadow)] [border-radius:var(--border-radius)] transition-all duration-300 ease-in-out xl:hover:scale-103 text-lg ">Audiencia Pública</a>
        </article>
    </section>
</Layout>