---
import Layout from "../../layouts/BlogPost.astro";
---

<Layout title="Modificaciones al Cuadro Multianual de Necesidades">
    <section class="modifications flex flex-col items-center justify-center gap-2 my-[8rem] px-[1.2rem] md:w-[900px] xl:w-[1200px] mx-auto">
        <article class="modifications-title mb-[3rem]">
            <h2 class="[font-family:var(--font-family-modern)] mb-[3rem] text-3xl md:text-4xl lg:text-5xl text-center font-semibold">Aprobación de Modificaciones al Cuadro Multianual de Necesidades</h2>
        </article>
        <article class="modifications-information flex flex-col items-center justify-center gap-8 md:grid md:grid-cols-2 md:place-items-center">
            <a class="modifications-item border border-[#015da8] px-4 py-2 rounded-[var(--border-radius)] transition-all duration-300 ease-in-out xl:hover:scale-103" href="https://www.municerroazul.gob.pe/muni-resources/pdf/modificaciones-cuadro-multianual/ANEXO-N-06-ENERO.pdf"><b>ANEXO N° 06 ENERO:</b> APROBACIÓN DE MODIFICACIONES AL CUADRO MULTIANUAL DE NECESIDADES <b>N° 00000001</b></a>
            <a class="modifications-item border border-[#015da8] px-4 py-2 rounded-[var(--border-radius)] transition-all duration-300 ease-in-out xl:hover:scale-103" href="https://www.municerroazul.gob.pe/muni-resources/pdf/modificaciones-cuadro-multianual/ANEXO-N-06-FEBRERO.pdf"><b>ANEXO N° 06 FEBRERO:</b> APROBACIÓN DE MODIFICACIONES AL CUADRO MULTIANUAL DE NECESIDADES <b>N° 00000004</b></a>
        </article>
    </section>
</Layout>
