---

import Layout from "../../layouts/BlogPost.astro";

---

<Layout title="Declaraciones Juradas">
    <section class="declaration flex flex-col items-center justify-center gap-2 my-[8rem] px-[1.2rem] md:w-[900px] xl:w-[1200px] mx-auto">
        <article class="declaration-title">
            <h1 class="mb-[3rem] text-3xl md:text-4xl lg:text-5xl text-center font-semibold">Declaraciones Juradas</h1>
            <p class="mb-[3rem] lg:text-center">Reporte de Declaraciones Juradas de Ingresos de Bienes y Rentas Ley 27482</p>
        </article>
        <article class="declaration-information">
            <div class="declaration-2024 declaration-item">
                <div>
                    <h3>Año Fiscal 2024</h3>
                </div>
                <div>
                    <iframe src="https://municerroazul.gob.pe/muni-resources/pdf/link-interest/links/affidavits/2024/1.DECLARACIONES-JURADAS-2024.pdf"></iframe>
                    <p>Para una mejor visualización acceda desde una <b>computadora, laptop o tablet</b>, muchas gracias.</p>
                </div>
            </div>
        </article>
    </section>
</Layout>
