---

import Layout from "../../layouts/BlogPost.astro";

---

<Layout title="Oficina de Registro Civil">
    <section class="civil">
        <article class="civil-title">
            <h3 class="text-3xl text-center">Requisitos para contra Matrimonio Civil</h3>
        </article>
        <article class="civil-information">
            <ol class="list-decimal pl-5">
                <li>Copia Certificada de Partida y/o Actas de Nacimiento de los Contrayentes <b>(Actualizada)</b></li>
                <li>Fotocopia de los DNI vigentes de ambos contrayentes <b>(fedateados).</b> En caso de extranjero contar con Pasaporte o Carnet de Extranjería, Partida de Nacimiento y Constancia de Soltería traducida y visada por el Consulado correspondiente en el Perú - apostillado.</li>
                <li>Fotografía tamaño Pasaporte</li>
                <li>Certificado Negativo de Salud y Constancia de Consejería Preventiva</li>
                <li>Certificado de soltería, viudez de ambos contrayentes</li>
                <li>Dos testigos mayores de edad <b>(documento de identidad)</b></li>
                <li>Certificado de Domicilio de ambos contrayentes</li>
                <li>Publicación de Edicto Matrimonial en un diario de mayor circulación, así como en la Municipalidad donde domicilia el otro pretendiente, corriendo los gastos por su propia cuenta.</li>
                <li>Gestionar los trámites con 20 días de anticipación a la fecha elegida.</li>
                <li>La solicitud es diligenciada conjuntamente con el jefe de Registro Civil.</li>
                <li>Pago de los derechos: Solicitud de matrimonio, constancia de matrimonio, apertura de expediente matrimonial, inscripción de matrimonio <b>(Ceremonia según corresponda)</b> tiene un costo de: S/. 259.26 nuevos soles <b>(Horario de Oficina).</b></li>
                <li>La apertura del pliego matrimonial de la inscripción se realizará <b>CON LA PRESENCIA DE AMBOS CONTRAYENTES Y LOS DOS TESTIGOS</b> en la Oficina de Registro Civil.</li>
            </ol>
        </article>
    </section>
</Layout>