---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { title, description } = Astro.props;
---

<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "GovernmentOrganization",
				"name": "Municipalidad Distrital de Cerro Azul",
				"url": "https://www.municerroazul.gob.pe",
				"logo": "https://www.municerroazul.gob.pe/muni-cerro-azul.avif",
				"description": "Portal web oficial de la Municipalidad Distrital de Cerro Azul.",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "Calle Alfonso Ugarte 500",
					"addressLocality": "Cerro Azul",
					"addressRegion": "Lima",
					"postalCode": "15717",
					"addressCountry": "PE"
				},
				"openingHoursSpecification": {
					"@type": "OpeningHoursSpecification",
					"dayOfWeek": [
						"Tuesday",
						"Wednesday",
						"Thursday",
						"Friday",
						"Saturday"
					],
					"opens": "08:00",
					"closes": "16:45"
				},
				"contactPoint": {
					"@type": "ContactPoint",
					"telephone": "+51 123-456-789",
					"contactType": "customer service",
					"availableLanguage": ["Spanish"]
				},
				"areaServed": {
					"@type": "AdministrativeArea",
					"name": "Cerro Azul, Lima, Perú"
				},
				"department": "Gobierno Local",
				"sameAs": [
					"https://www.facebook.com/MunicipalidadDistritalDeCerroAzul"
				]
			}
		</script>
	</head>

	<body>
		<Header />
			<main class="w-[100%]">
				<slot />
			</main>
		<Footer />
		<!-- ===== SCRIPT DE FACEBOOK (AÑADIR AQUÍ) ===== -->
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v18.0" nonce="aAbBcCdD"></script>
	</body>
</html>
